<br>

<h1 style="display: flex; justify-content:center">Welcome to Student Management System</h1>

<img src="images/hero.avif" alt="hero image"  style=" display: block; margin-left: auto; margin-right: auto; width: 60%;">