

<br><h1 style="display: flex; justify-content:center; color:rgb(39, 60, 117)">New Registration</h1><br>

   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
<br><br>

<form action="/registration/create-registration" method="post">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="reg_id">Registration ID</label>
                    <input type="text" id="reg_id" name="reg_id" class="form-control" placeholder="REG-001">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="date"> Date</label>
                    <input type="date" id="date" name="date" class="form-control" >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="student_id">Student ID</label>
                    <input type="text" id="student_id" name="student_id" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="programe_id">Programe ID</label><br>
                    <input type="text" id="programe_id" name="programe_id" class="form-control">
                    </div>
            </div>
            <br><br><br><br>
            {{!-- <div class="col-6">
                <div class="form-group">
                    <label for="payment">Payment State</label>
                    <br><br>
                    <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Paid</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Pending</label>
                </div>
                </div>
            </div><br><br><br><br> --}}
            <div class="col-4">
                <br>
              
        <button class="btn btn-warning me-md-2" type="submit" style="font-size:20px; width:200px;">Register</button>
            </div>
        </div>
    </div>
</form>

        <a href="/registration/registration-list">
         <button class="btn btn-success me-md-2" type="button" style="font-size:20px; width:200px; margin-top:30px; margin-left:150px;">Show All Data</button>
        </a>
        
    

</body>
</html>


     


