
<h1 style="display: flex; justify-content:center">Sign Up</h1><br>

<div style="margin-left:150px">
    <div class="mb-4">
  <label for="exampleFormControlInput1" class="form-label">Full Name </label>
   <div class="col-auto">
    <input type="text" id="name" class="form-control" aria-describedby="name">
  </div>
</div>

<div class="mb-4">
  <label for="exampleFormControlInput1" class="form-label">Email </label>
   <div class="col-auto">
    <input type="text" id="text" class="form-control" aria-describedby="text">
  </div>
</div>

<label for="inputPassword5" class="form-label">Password</label>
 <div class="col-auto">
    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
  </div>
<div id="passwordHelpBlock" class="form-text">
       Must be 8-20 characters long.
</div>
</div>

<br><br>
<div class="d-grid gap-2 col-4 mx-auto">
  <button class="btn btn-primary" type="button">Sign Up</button>
  <p style="margin-left: 180px;">OR</p>
  <button class="btn btn-outline-dark" type="button">Already have an Account</button>
</div>